.green {
  background-color: #f0fff0;
  width: 1200px;
  height: 720px;
  margin: auto;
}
.black {
  background-color: black;
  width: 404px;
  height: 490px;
  margin: auto;
}
.logo {
  display: block;
  margin: auto;
  padding: 10px;
}
.h {
  color: white;
  text-align: center;
  font-size: 29px;
  letter-spacing: 10px;
  margin-bottom: 50px;
 }
.btn {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
  border-style: solid;
  border-color: white;
  color: white;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
  letter-spacing: 5px;
  text-decoration: none;
}
.link {text-decoration: none;
color: white;
display: block;
}